@charset "UTF-8";

*{
    padding: 0;
    margin: 0;

}
header{
    width: 100%;
    background-color: black;
    padding: 20px;
    text-align: center;
    
}

h1{
    color: white;
    font-size: 3vw;
}

body{
    background-color: rgb(70, 70, 70);
}
